@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
body {
  padding: 0px;
  margin: 0px;
  font-family: 'ZCOOL KuaiLe', cursive;
}
/**
Styla Titel segmentet, som är samma för alla sidor.
**/
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(129, 177, 178);
  height: 100px;
  width: auto;
}
.title > h1{
  font-family: 'ZCOOL KuaiLe', cursive;
  color: rgba(30,53,77);
}

/**
Styla lorem, endast på home.html
**/
.lorem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 25%; margin-right: 25%;
}
.lorem > p {
  text-align: center;
}

/**
Styla diverse knappar och input
**/
.button, input, select {
  background-color: rgba(198,224,118);
  height: 40px;
  width: 180px;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 16px;
  border: 3px solid rgba(30,53,77);
  box-shadow: 2px 2px rgba(30,53,77);
}
input[type="number"] {
  height: 20px;
  width: 60px;
}
.button:hover, input:hover, select:hover{
  background-color: rgba(147,195,113);
  transition: background-color 300ms linear;
}

/**
Grid för selectdish.html, selectdish2.html
**/
.select-dish-grid {
  display: grid;
  grid-template-areas:
      'a b'
      'a c';
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto;
  grid-gap: 3px;
}
/**
Grid för viewdish.html
**/
.view-dish-grid {
  display: grid;
  grid-template-areas:
      'a d';
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  grid-gap: 3px;
}


/**
Styla de olika grid-areas för select-dish-grid.
**/
.find-a-dish > p {
    margin: 0px;
}
.my-dinner, .find-a-dish, .dishes, .dish-more-info {
  display: flex;
  border: 3px solid rgba(30,53,77);
  padding: 10px;
  font-family: 'ZCOOL KuaiLe', cursive;
}
/**
Styla my dinner delen av gridden.
**/
.my-dinner {
  grid-area: a;
  flex-direction: column;
  flex-wrap: nowrap;
}
#column-names {
  height: 20px;
}
.picked-dish {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    width: 90%;
    padding:5px;
    margin-top: 10px;
    background-color: rgba(86, 150, 152);
    border: 3px solid rgba(30,53,77);
    }
    .alignleft {
      width:50%;
      float:left;
      text-align: left;
    }

    .alignright {
      width:50%;
      float:left;
      text-align: right;
    }
  }
#total-cost {
  text-align: right;
    color: red;
}
.find-a-dish {
  grid-area: b;
  flex-direction: column;
}
.dish-more-info {
    grid-area: d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/**
Styla dishes delen av gridden.
**/
.dishes {
  grid-area: c;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.dish, .dish-overview {
  margin: 10px;
  height: 100px;
  width: 100px;
  border: 3px solid rgba(30,53,77);
}


#collapse-button {
  display: none;
}

/**
Styla dish-more-info, används i viewdish.html
**/
#dish-info {
  padding: 10px;
  margin: 5px;
}
#dish-ingredients, #dish-preparation {
  padding: 10px;
  margin: 5px;
  border: 3px solid rgba(30,53,77);
}

#dish-ingredients {
  background-color: rgba(236, 230, 61);
}

/**
Styla subtitlen med information om hur många gäster och
tillbakaknapp för filen dinneroverview.html.
**/
#my-dinner-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%; padding-right: 10%;
  padding-top: 10px;
  border-bottom: 5px solid rgba(30,53,77);
}
.dishes-overview .dishes-overview-dishes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.overview-total-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 10px;
  border-left: 3px solid rgba(30,53,77);
}
#print-recipe {
  display: flex;
  margin: 20px;
  justify-content: center;
}

/**
Grid och style för dinnerprintout.html
**/
.dish-print-out-grid {
  display: grid;
  grid-template-areas:
    'e f g';
  grid-template-rows: auto;
  grid-template-columns: 20% 30% 50%;
}
.print-out-image {
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.print-out-image > img {
  border: 3px solid rgba(30,53,77);
  border-radius: 10000px;
}
.print-out-description {
  grid-area: f;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.print-out-preparation {
  grid-area: g;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/**
Ändra lite saker som skall se annorlunda ut på mobilen.
**/
@media only screen and (max-width: 600px) {
    .select-dish-grid {
    display: grid;
    grid-template-areas:
        'a'
        'b'
        'c';
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 3px;
  }

  .view-dish-grid {
      display: grid;
      grid-template-areas:
          'a'
          'd';
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 3px;
    }

    .dish-print-out-grid {
      display: grid;
      grid-template-areas:
        'e'
        'f'
        'g';
      grid-template-rows: auto;
      grid-template-columns: auto;
    }

  .dishes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  .dish {
    height: 200px;
    width: 200px;
    overflow-y: hidden;
  }

  /**
  Göm vissa saker i my-dinner vid mobilläge
  **/
  #column-names, #confirm-order, #people-select, #selected-dishes {
    display: none;
  }
  #collapse-button {
    display: unset;
    float: right;
    height: 50px;
    width: 50px;
  }
}
