<div class="my-dinner" id="my-dinner">
  <h3>My Dinner</h3>
  <button class="button" id="collapse-button"></button>
  <div id="people-select">
    people
    <input type="number" step="1" id="numberOfGuests">
  </div>
  <div id="column-names">
    <p style="text-align:left;">Dish name
      <span style="float: right;">Cost</span>
    </p>
  </div>
  <div id="selected-dishes">
  </div>
  <p id="total-cost"></p>
  <div style="text-align:center">
    <button class="button" id="confirm-order">confirm order</button>
  </div>
